snippet tpubf "test public function"
/** @test */
public function ${1:name}(${2:params})
{
    ${0}
}
endsnippet

snippet pubf "public function"
public function ${1:name}(${2:params})
{
    ${0}
}
endsnippet

snippet prof "protecte function"
public function ${1:name}(${2:params})
{
    ${0}
}
endsnippet

snippet prif "private function"
public function ${1:name}(${2:params})
{
    ${0}
}
endsnippet
